{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner valign-wrapper">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text banner-heading">Add Holiday</h1>
            </div>
            <div class="row col m8 offset-m2 s12">
                <p class="white-text center-align fira-500">
                    Recommend a holiday destination with fellow Little Explorers and share your discoveries.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-lblue" id="a-recommendation-page">
    <div class="container col s10 bg-white blue-container">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('add_recommendation') }}"
                enctype="multipart/form-data">
                <!-- Recommendation name field -->
                <div class="row">
                    <div class="input-field col m6 s12">
                        <input id="recommendation_name" placeholder="Max 30 characters" name="recommendation_name"
                            minlength="3" maxlength="30" type="text" class="validate" required autocomplete="on"
                            oninput="checkMaxLength(this)">
                        <label for="recommendation_name">Holiday Title</label>
                    </div>
                    <div class="s12 m3" id="errorMessage" style="color: red; display: none;">Recommendation title
                        already exists. Please choose a different title.</div>
                </div>
                <!-- Holiday Type Id (User select from name) -->
                <div class="row">
                    <div class="col m6 s12">
                        <div class="input-field">                            
                            <select id="holiday_id" name="holiday_id" class="validate" required>
                                <option value="" disabled selected>Choose Holiday Type</option>
                                {% for holiday_type in holiday_types %}
                                <option value="{{ holiday_type.id }}">{{ holiday_type.holiday_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="holiday_id">Holiday Type</label>
                        </div>
                    </div>
                </div>
                <!-- Region (User select from options) -->
                <div class="row">
                    <div class="input-field col m6 s12">
                        <select id="region" name="region" class="validate" required>
                            <option value="" disabled selected>Select</option>
                            <option value="South-West">South West</option>
                            <option value="South-East">South East</option>
                            <option value="West-Midlands">West Midlands</option>
                            <option value="East-Midlands">East Midlands</option>
                            <option value="North-West">North West</option>
                            <option value="North-East">North East</option>
                            <option value="Yorkshire-and-the-Humber">Yorkshire and the Humber</option>
                            <option value="East-of-England">East of England</option>
                            <option value="London">London</option>
                            <option value="Wales">Wales</option>
                            <option value="Scotland">Scotland</option>
                            <option value="Northern Ireland">Northern Ireland</option>
                        </select>
                        <label for="region">Region</label>
                    </div>
                </div>
                <!-- Occupant Selection-->
                <div class="row">
                    <div class="input-field col s4">
                        <select id="occupants" name="occupants" class="validate" required>
                            <option value="" disabled selected>Select</option>
                            <option value="2">2</option>
                            <option value="3-4">3-4</option>
                            <option value="5-6">5-6</option>
                            <option value="7-8">7-8</option>
                            <option value="9+">9+</option>
                        </select>
                        <label for="occupants">Occupants</label>
                    </div>
                    <!-- Date Selection-->
                    <div class="input-field col s8">
                        <input id="recommendation_date" name="recommendation_date" class="validate datepicker" required
                            placeholder="When did you visit?">
                        <label for="recommendation_date"></label>
                    </div>
                </div>
                <!-- Location Name and map (map code adapted from Imran Sayed at Codeytek Academy youtube tutorial)-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location_name" name="location_name" class="validate" type="text"
                            placeholder="start typing to search" maxlength="120" required autocomplete="on">
                        <label for="location_name">Address</label>
                    </div>
                </div>

                <div>Please check the location on the map and either move the marker or re-type your location.</div>

                <div id="map-canvas"></div>

                <!-- HIDDEN FROM USER, autofilled by JS using location/map" -->
                <!-- map Longitude -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="map_long"></label>
                        <input id="map_long" name="map_long" type="text" required>
                    </div>
                </div>
                <!-- map Latitude -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="map_lat"></label>
                        <input id="map_lat" name="map_lat" type="text" required>
                    </div>
                </div>

                <!-- Recommendation Review-->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="recommendation_review" name="recommendation_review"
                            class="materialize-textarea validate"
                            placeholder="Describe your stay and what made it special. Max 1000 characters"
                            maxlength="2000" required></textarea>
                        <label for="recommendation_review">Review</label>
                        <!-- Character count -->
                        <p class="character-count">Remaining characters: <span id="charCount">1000</span></p>
                    </div>
                </div>

                <!-- Image Upload-->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="file" id="image" name="image">
                        <button type="button" id="upload-button">View</button>
                        <label for="image"></label>
                        <span class="helper-text">Please select a landscape image to accompany your
                            recommendation.</span>
                    </div>

                    <div class="col s12" id="uploaded-image"></div>

                    <div class="col s6" style="display: none;">
                        <input id="mimetype" name="mimetype" type="text" required>
                        <label for="mimetype">mimetype</label>
                    </div>
                </div>

                <!-- HIDDEN FROM USER "-->
                <!-- User ID -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="user_id">User ID</label>
                        <input id="user_id" name="user_id" type="text" required value="{{ session.get('user_id') }}">
                    </div>
                </div>

                <!-- Send button -->
                <div class="col s12 center-align">
                    <button type="submit" id="submit-button"
                        class="col s8 offset-s2 m6 offset-m3 l3 offset-l4 btn-large btn-dgreen fira-500">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- image upload specific JS-->
<script src="{{ url_for('static', filename='js/addRecommendation.js') }}"></script>
<!-- Maps specific JS-->
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
<!-- Patch to fix select buttons on IOS-->
<script src="{{ url_for('static', filename='js/materialize-patch.js') }}"></script>
<!-- Google Maps API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ app.config['GOOGLE_MAPS_API_KEY'] }}&libraries=places&callback=initialize">
</script>
{% endblock %}