{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner valign-wrapper">
        <div class="row val">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">Edit Holiday</h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-lblue" id="a-recommendation-page">
    <div class="container col s10 bg-white blue-container">
        <div class="row">
            <form class="col s12" method="POST"
                action="{{ url_for('edit_recommendation', recommendation_id=recommendation.id) }}"
                enctype="multipart/form-data">
                <!-- Recommendation name field -->
                <div class="row">
                    <div class="input-field col s9">
                        <input id="recommendation_name" placeholder="Max 30 characters" name="recommendation_name"
                            value="{{ recommendation.recommendation_name }}" minlength="3" maxlength="30" type="text"
                            class="validate" required oninput="checkMaxLength(this)">
                        <label for="recommendation_name">Holiday Title</label>
                    </div>
                </div>
                <!-- Holiday Type Id (User select from name) -->
                <div class="row">
                    <div class="input-field col s9">
                        <select id="holiday_id" name="holiday_id" class="validate" required>
                            <option value="" disabled>Choose Holiday Type</option>
                            {% for holiday_type in holiday_types %}
                            {% if holiday_type.id == recommendation.holiday_id %}
                            <option value="{{ holiday_type.id }}" selected>{{ holiday_type.holiday_name }}</option>
                            {% else %}
                            <option value="{{ holiday_type.id }}">{{ holiday_type.holiday_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="holiday_id">Holiday Type</label>
                    </div>
                </div>
                <!-- Region (User select from options) -->
                <div class="row">
                    <div class="input-field col s9">
                        <select id="region" name="region" class="validate" required>
                            <option value="" disabled>Choose Region</option>
                            {% if recommendation.region == "South-West" %}
                            <option value="South-West" selected>South West</option>
                            {% else %}
                            <option value="South-West">South West</option>
                            {% endif %}
                            {% if recommendation.region == "South-East" %}
                            <option value="South-East" selected>South East</option>
                            {% else %}
                            <option value="South-East">South East</option>
                            {% endif %}
                            {% if recommendation.region == "West Mids" %}
                            <option value="West Mids" selected>West Mids</option>
                            {% else %}
                            <option value="West Mids">West Mids</option>
                            {% endif %}
                            {% if recommendation.region == "East Mids" %}
                            <option value="East Mids" selected>East Mids</option>
                            {% else %}
                            <option value="East Mids">East Mids</option>
                            {% endif %}
                            {% if recommendation.region == "North West" %}
                            <option value="North West" selected>North West</option>
                            {% else %}
                            <option value="North West">North West</option>
                            {% endif %}
                            {% if recommendation.region == "North East" %}
                            <option value="North East" selected>North East</option>
                            {% else %}
                            <option value="North East">North East</option>
                            {% endif %}
                            {% if recommendation.region == "Yorks & Hum" %}
                            <option value="Yorks & Hum" selected>Yorks & Hum</option>
                            {% else %}
                            <option value="Yorks & Hum">Yorks & Hum</option>
                            {% endif %}
                            {% if recommendation.region == "East England" %}
                            <option value="East England" selected>East England</option>
                            {% else %}
                            <option value="East England">East England</option>
                            {% endif %}
                            {% if recommendation.region == "London" %}
                            <option value="London" selected>London</option>
                            {% else %}
                            <option value="London">London</option>
                            {% endif %}
                            {% if recommendation.region == "Wales" %}
                            <option value="Wales" selected>Wales</option>
                            {% else %}
                            <option value="Wales">Wales</option>
                            {% endif %}
                            {% if recommendation.region == "Scotland" %}
                            <option value="Scotland" selected>Scotland</option>
                            {% else %}
                            <option value="Scotland">Scotland</option>
                            {% endif %}
                            {% if recommendation.region == "N. Ireland" %}
                            <option value="N. Ireland" selected>N. Ireland</option>
                            {% else %}
                            <option value="N. Ireland">N. Ireland</option>
                            {% endif %}
                        </select>
                        <label for="region">Region</label>
                    </div>
                </div>

                <div class="row">
                    <!-- Occupant Selection -->
                    <div class="input-field col s3">
                        <select id="occupants" name="occupants" class="validate" required>
                            <option value="" disabled>Select Occupants</option>
                            {% if recommendation.occupants == "2" %}
                            <option value="2" selected>2</option>
                            {% else %}
                            <option value="2">2/option>
                            {% endif %}
                            {% if recommendation.occupants == "3-4" %}
                            <option value="3-4" selected>3-4</option>
                            {% else %}
                            <option value="3-4">3-4</option>
                            {% endif %}
                            {% if recommendation.occupants == "5-6" %}
                            <option value="5-6" selected>5-6</option>
                            {% else %}
                            <option value="5-6">5-6</option>
                            {% endif %}
                            {% if recommendation.occupants == "7-8" %}
                            <option value="7-8" selected>7-8</option>
                            {% else %}
                            <option value="7-8">7-8</option>
                            {% endif %}
                            {% if recommendation.occupants == "9+" %}
                            <option value="9+" selected>9+</option>
                            {% else %}
                            <option value="9+">9+</option>
                            {% endif %}                           
                        </select>
                        <label for="occupants">Occupants</label>
                    </div>

                    <!-- Date Selection -->
                    <div class="input-field col s6">
                        <label for="recommendation_date"></label>
                        <input id="recommendation_date" name="recommendation_date" class="validate datepicker" required
                            value="{{ recommendation.recommendation_date.strftime('%d %B, %Y') }}">
                    </div>
                </div>

                <!-- Location Name and map (map code adapted from Imran Sayed at Codeytek Academy youtube tutorial)-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location_name" name="location_name" class="validate" type="text"
                            value="{{ recommendation.location_name }}" maxlength="120" required>
                        <label for="location_name">Address</label>
                    </div>
                </div>

                <div>Please check the location on the map and either move the marker or re-type your location.</div>

                <div id="map-canvas"></div>

                <!-- HIDDEN FROM USER, autofilled by JS using location/map" -->
                <!-- map Longitude -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="map_long"></label>
                        <input id="map_long" name="map_long" type="text" value="{{ recommendation.map_long }}" required>
                    </div>
                </div>
                <!-- map Latitude -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="map_lat"></label>
                        <input id="map_lat" name="map_lat" type="text" value="{{ recommendation.map_lat }}" required>
                    </div>
                </div>

                <!-- Recommendation Review-->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="recommendation_review" name="recommendation_review"
                            class="materialize-textarea validate" maxlength="2000"
                            required>{{ recommendation.recommendation_review }}</textarea>
                        <label for="recommendation_review">Review</label>
                    </div>
                </div>

                <!-- Image Upload-->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="file" id="image" name="image">
                        <button type="button" id="upload-button">View</button>
                        <label for="image"></label>
                        <span class="helper-text">Your current image is displayed below. If you don't intend to change
                            the image, leave the file upload field as 'No file chosen'. Additionally, ensure that any
                            new selection is a landscape image.</span>
                    </div>
                    <div class="col s12" id="uploaded-image"><img src="{{ recommendation.image_url }}"
                            alt="Holiday Image" />
                    </div>
                    <!-- HIDDEN FROM USER-->
                    <!-- Mime Type -->
                    <div class="row" style="display: none;">
                        <div class="col s6">
                            <input id="mimetype" name="mimetype" type="text" value="{{ recommendation.mimetype }}"
                                required>
                            <label for="mimetype">mimetype</label>
                        </div>
                    </div>
                </div>
                <!-- HIDDEN FROM USER-->
                <!-- User ID -->
                <div class="row" style="display: none;">
                    <div class="input-field col s6">
                        <label for="user_id">User ID</label>
                        <input id="user_id" name="user_id" type="text" required value="{{ session.get('user_id') }}">
                    </div>
                </div>

                <!-- Send button -->
                <div class="col s12 center-align">
                    <button type="submit" id="submit-button"
                        class="col s8 offset-s2 m6 offset-m3 l3 offset-l4 btn-large btn-dgreen">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- image upload specific JS-->
<script src="{{ url_for('static', filename='js/addRecommendation.js') }}"></script>
<!-- Maps specific JS-->
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
<!-- Google Maps API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ app.config['GOOGLE_MAPS_API_KEY'] }}&libraries=places&callback=initialize">
</script>
{% endblock %}