{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">Add Holiday Types</h1>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('add_holiday_types') }}" class=" fira-600 btn-large btn-blue">ADD<i
                            class="fas fa-plus-square right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lorange">
    <div class="container admin-container">
        <div class="row">
            {% for holiday_type in holiday_types %}
            <div class="col s12 m6 l3">
                <div class="card center-align">
                    <div class="card-content">
                        <span class="card-title">{{ holiday_type.holiday_name }}</span>
                        <i class="{{ holiday_type.selected_icon }}"></i>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn btn-lgreen">Edit</a>
                        <a href="#" class="btn btn-pink">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}