{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">Add Holiday Types</h1>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('add_holiday_types') }}" class=" fira-600 btn-large btn-blue">ADD<i
                            class="fas fa-plus-square right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lorange">
    <div class="container admin-container">
        <div class="row">
            {% for holiday_type in holiday_types %}
            <div class="col s12 m6 l4">
                <div class="card center-align">
                    <div class="card-content card-padding">
                        <span id="holiday-type-title" class="card-title">{{ holiday_type.holiday_name }}</span>
                       <i class="{{ holiday_type.selected_icon }} icon-display"></i>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_holiday_types', holiday_id=holiday_type.id) }}" class="btn btn-lgreen">Edit</a>
                        <a href="#modal_{{ holiday_type.id}}"
                            class="waves-effect btn btn-pink modal-trigger">Delete</a>
                    </div>
                </div>
            </div>
            <!-- Modal Structure taken and adapted from Materialize -->
            <div id="modal_{{ holiday_type.id }}" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete Holiday Type?</h4>
                    <p>Note: This action is not reversible and will also delete all associated Recommended holidays.
                    </p>
                </div>
                <div class="center-align modal-btn">
                    <div class="row">
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="#!" class="modal-close btn btn-pink col s3 offset-s2">No</a>
                        </div>
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="{{ url_for('delete_holiday_types', holiday_id=holiday_type.id ) }}"
                                class="btn btn-lgreen col s3 offset-s2">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}