{% extends "base.html" %}
{% block content %}

<!-- Hero Image Div -->
<div id="home-hero-div" class="row valign-wrapper">
    <div class="hero-inner col s12 center-align">
        <h1 class="hero-headline fira-600">Big Adventures For <span class="pacifico" id="f-little">little</span>
            EXPLORERS</h1>
        <h2 class="hero-subtitle fira-500">Discover Child Friendly Holidays Across The UK</h2>
        <a href="{{ url_for('recommendations')}}" id="browse-hero"
            class="waves-effect waves-light btn btn-orange fira-500"><i class="fas fa-search"></i>
            Browse
            Holidays</a>
    </div>
</div>

<!-- Holiday Showcase section -->
<div class="container">
    <div class="row center-align">
        <div>
            <h3 class="fira-600">We Think You'll Love<h3>
        </div>
    </div>
    <!-- Cards Modifed from Materialize-->
    <div class="row">
        {% for recommendation in recommendations %}
        {% if recommendation.recommendation_name in ['test', 'bob'] %}
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img
                        src="{{ url_for('static', filename='images/user_uploaded_images/' + recommendation.image_name) }}" />
                    <div class="image-overlay"></div>
                    <span class="card-title" id="">{{ recommendation.recommendation_name}}</span>
                    <a href="{{ url_for('view_recommendation', recommendation_id=recommendation.id)}}"
                        class="btn-floating halfway-fab waves-effect waves-light btn-dgreen"><i
                            class="fas fa-search"></i></a>
                </div>
                <div class="card-content">
                    <div><i class="fa-solid fa-location-dot"></i> {{ recommendation.region }}</div>
                    <div><i class="fa-solid fa-user"></i> {{ recommendation.occupants }}</div>
                    <div><i class="{{ recommendation.holiday.selected_icon }}"></i>
                        {{ recommendation.holiday.holiday_name }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <a href="{{ url_for('recommendations')}}" id="browse-cards" class="waves-effect waves-light btn btn-orange col s12 fira-500">SEE MORE HOLIDAYS</a>
    </div>
</div>

<!-- Quote section -->
<div class="container">
    <div id="quote-hero-div" class="row">
        <div class="quote-div col m4 s6 center-align valign-wrapper" id="quote-section">
            <div class="quote-overlay"></div>
            <p class="fira-600"><i class="fas fa-quote-left"></i> This site has truly transformed our holiday
                experiences.
                <i class="fas fa-quote-right"></i> </p>
        </div>
    </div>
</div>
</div>

<!-- Call To Action *Join* Section -->

<div class="container">
    <div class="row">
        <div class="col s12 m12 l6">
            <img src="../static/images/ben-wicks-iDCtsz-INHI-unsplash.jpg" alt="Image" class="responsive-img">
        </div>
        <div class="col s12 m12 l6 center-align">
            <h3 class="fira-500 no-join-margin">Join Us</h3>
            <p>Little Explorers fosters a vibrant community where you can share your fantastic holiday discoveries.
                Join us and contribute to something extraordinary by sharing your travel experiences.</p>
            <a href="{{ url_for('create_account')}}" class="waves-effect waves-light btn btn-blue"><i
                    class="fas fa-user-plus"></i> Create Account</a>
            <p id="account-log">
                <a class="" href="{{ url_for('sign_in')}}">Already got an account? Log in here</a>
            </p>
        </div>
    </div>
</div>








{% endblock %}