{% extends "base.html" %}
{% block content %}

<!-- Hero Image Div -->
<div id="home-hero-div" class="row valign-wrapper">
    <div class="hero-inner col s12 center-align">
        <h1 class="montserrat-500 hero-headline">Discover Holiday Bliss</h1>
        <h2 class="hero-subtitle">Explore Child Friendly Holidays Across The UK</h2>
        <a class="waves-effect waves-light btn btn-orange"><i class="fas fa-search"></i> Browse Holidays</a>        
    </div>
</div>

<div class="container">

    <div class="row center-align">
        <div>
            <h3>Who Are We?</h3>
        </div>
        <div>
            <p>At Little Explorers we believe that finding a child-friendly holiday should be quick and easy.</p>
        </div>
        <div>
            <p>Browse our user recommended holidays and find your dream getaway</p>
        </div>
        <div>
            <a class="waves-effect waves-light btn btn-orange"><i class="fas fa-search"></i> Browse Holidays</a>
        </div>
        <div>
            <p>Have you recenlty enjoed a memorable holiday? Join our community and spread the joy by sharing your
                experiences with us</p>
        </div>
        <div>
            <a class="waves-effect waves-light btn btn-orange"><i class="fas fa-user-plus"></i> Create Account</a>
        </div>
        <div>
            <a href="">Already got an account? Log in here</a>
        </div>
    </div>
</div>

<div class="bg-dgreen">
    <div class="container">
        <div class="row center-align">
            <h3 class="white-text">We Think You'll Love<h3>
        </div>
        <!-- Cards Modifed from Materialize-->
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">River Lodge</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-dgreen"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Cosy Devon Cottage</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-dgreen"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Beachfront House</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-dgreen"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3 hide-on-med-only">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Bristol Townhouse</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-dgreen"><i class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    {% endblock %}