{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">Holidays</h1>
            </div>
            <div class="row col m8 offset-m2 s12">
                <p class="white-text center-align fira-600">
                    Browse our curated selection of family-friendly holidays, verified by our users, and simplify your
                    search for the perfect getaway.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container recommendations-container">                
        <form method="POST" action="/search">
            <div class="row center">
                <div class="input-field col s12 m6">
                    <input id="search_string" type="text" name="search_string" placeholder="Enter keyword here">
                    <label for="search_string">Search Holidays</label>
                    <span class="helper-text">You can search by keyword in the review OR holiday type title.</span>
                </div>
                <div class="input-field col s12 m3">
                    <button class="btn waves-effect waves-light btn-dgreen" type="submit" name="action" id="search-recommendations">Search</button>
                </div>                                     
            </div>
        </form>    


        <!-- Map View button -->
        <div class="row">       
            <a href="#map-canvas-recommendations" id="map-button"
                class="waves-effect waves-light btn btn-orange col s12 fira-500">JUMP TO MAP VIEW</a>
        </div>
        <!-- All Holiday Recommendations added to the database -->
        <div class="row">
            {% for recommendation in recommendations %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="{{ url_for('static', filename='images/user_uploaded_images/' + recommendation.image_name) }}" />
                        <div class="image-overlay"></div>
                        <span class="card-title" id="">{{ recommendation.recommendation_name}}</span>
                        <a href="{{ url_for('view_recommendation', recommendation_id=recommendation.id)}}"
                            class="btn-floating halfway-fab waves-effect waves-light btn-dgreen"><i
                                class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <div><i class="fa-solid fa-location-dot"></i> {{ recommendation.region }}</div>
                        <div><i class="fa-solid fa-user"></i> {{ recommendation.occupants }}</div>
                        <div><i class="{{ recommendation.holiday.selected_icon }}"></i>
                            {{ recommendation.holiday.holiday_name }}</div>
                    </div>
                    {% if session.get('is_admin') == True %}
                    <div class="card-action center-align">
                        <a href="#modal_{{ recommendation.id }}" class="waves-effect btn btn-pink modal-trigger">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Modal Structure taken and adapted from Materialize -->
            <div id="modal_{{ recommendation.id }}" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete Recommendation?</h4>
                    <p>Note: This action is not reversible.
                    </p>
                </div>
                <div class="center-align modal-btn">
                    <div class="row">
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="#!" class="modal-close btn btn-pink col s3 offset-s2">No</a>
                        </div>
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="{{ url_for('delete_recommendation', recommendation_id=recommendation.id ) }}"
                                class="btn btn-lgreen col s3 offset-s2">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="map-canvas-recommendations"></div>
    </div>
</div>

<div class="bg-lblue">
    <div class="container recommendations-container">
        <!-- Call to Action, Add holiday for logged in users-->
        {% if 'user_id' in session %}
        <div class="row col m8 offset-m2 s12">
            <p class="fira-600 center-align">
                Discovered a magical spot worth sharing? Add it to our collection of holidays by clicking the button
                below.
            </p>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_recommendation') }}" class=" fira-600 btn-large btn-blue"><i
                        class="fas fa-plus-square left"></i> Holiday</a>
            </div>
        </div>
        {% else %}
        <!-- Call to Action, Promt new users to create and acount-->
        <div class="row col m8 offset-m2 s12">
            <p class="fira-600 center-align">
                Discovered a magical spot worth sharing? Easily add it to our collection of holidays by creating an
                account and joining our vibrant community.
            </p>
        </div>
        <div class="row center-align">
            <div class="col s12 center-align">
                <a href="{{ url_for('create_account')}}" class="waves-effect waves-light btn btn-blue"><i
                        class="fas fa-user-plus"></i> Create Account</a>
            </div>
            <p id="account-log">
                <a class="" href="{{ url_for('sign_in')}}">Already got an account? Log in here</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>

















{% endblock %}
{% block scripts %}
<!-- Maps specific JS-->
<script src="{{ url_for('static', filename='js/maps-recommendations.js') }}"></script>
<!-- Google Maps API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY8GR3DNBlbz_RmwXJF7SRbBn4igCcsUg&libraries=places&callback=initialize">
</script>
{% endblock %}