{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">Holidays</h1>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('add_recommendation') }}" class=" fira-600 btn-large btn-blue">Recommend A Holiday<i
                            class="fas fa-plus-square right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lorange">
    <div class="container admin-container">
        <div class="row">
            {% for recommendation in recommendations %}
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='images/user_uploaded_images/' + recommendation.image_name) }}" />
                        <div class="image-overlay"></div>
                        <span class="card-title" id="">{{ recommendation.image}}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light btn-dgreen"><i
                                class="fas fa-search"></i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            {% endfor %}


           
           
        </div>
    </div>
</div>


{% endblock %}