{% extends "base.html" %}
{% block content %}

<!-- banner -->
<div class="bg-dgreen">
    <div class="container center-align heading-banner">
        <h1 class="fira-600 white-text banner-heading ">Sign In</h1>
        <div>
            <p class="white-text">
                Join our community and share the fantastic holiday discoveries you've made. Set up a free account using
                the form below.
            </p>
        </div>
    </div>
</div>

<div class="bg-lblue" id="create-account-page">
    <div class="container col s10 bg-white blue-container ">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('sign_in') }}">
                <!-- Name field -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- Password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password_hash" name="password_hash" type="password" minlength="3" maxlength="25"
                            class="validate" required>
                        <label for="password_hash">Password</label>
                    </div>
                </div>



                <!--Sign in button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit"
                            class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 btn-large btn-dgreen fira-500">Submit
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align" id="sign-in">
                        <a href="{{ url_for('create_account')}}">Don't have an account? Sign up!</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}