{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row ">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text banner-heading">Users</h1>
            </div>           
        </div>
        <div class="row col m8 offset-m2 s12">
            <p class="white-text center-align fira-500">
                Explore and manage registered users of Little Explorers. Notify users before taking any action.
            </p>
        </div>     
    </div>
</div>
<div class="bg-lorange">
    <div class="container bg-white admin-container">
        <form method="POST" action="/search_users">
            <div class="row center">
                <div class="input-field col s12 m6">
                    <input id="search_string" type="text" name="search_string" placeholder="Enter keyword here">
                    <label for="search_string">Search Users</label>
                    <span class="helper-text">Search by username or email address</span>
                </div>
                <div class="input-field col s4 m2">
                    <button class="btn waves-effect waves-light btn-dgreen fira-500" type="submit" name="action"
                        id="search-recommendations">Search</button>
                </div>
                <!-- Clear Search button -->
                <div class="input-field fira-500 col s4 m2 ">
                    <a href="{{ url_for('users') }}" id="clear-recommendations"
                        class="btn waves-effect waves-light btn-pink fira-500">Clear Search Results</a>
                </div>
            </div>
        </form>   
        

        <div class="row">
            {% for user in users %}
            <div class="col s12 l6">
                <div class="card">
                    <div class="card-content center-align">
                        <span class="card-title">User: {{ user.username }}</span>
                        <div class="left-align">
                            <p>Email: {{ user.email }}</p>
                            <p>Admin? {{ user.is_admin }}</p>
                        </div>
                    </div>
                    <div class="card-action center-align">
                        {% if user.email != "little.explorers@gmail.com" %}
                        <a class="waves-effect btn btn-pink modal-trigger fira-500" href="#modal_{{ user.id }}">Delete</a>                        
                        {% endif %}
                        {% if user.email == "little.explorers@gmail.com" %}
                        <a class="btn btn-dblue">This admin account can't be deleted</a> 
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Modal Structure taken and adapted from Materialize -->
            <div id="modal_{{ user.id }}" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete User?</h4>
                    <p>Note: This action is not reversible. All Holidays associated with the user will also be deleted.
                    </p>
                </div>
                <div class="center-align modal-btn">
                    <div class="row">
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="#!" class="modal-close btn btn-pink col s3 offset-s2">No</a>
                        </div>
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="{{ url_for('delete_user', user_id=user.id ) }}" class="btn btn-lgreen col s3 offset-s2">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}