{% extends "base.html" %}
{% block content %}


<!-- banner -->
<div class="bg-dgreen">
    <div class="container heading-banner">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="fira-600 white-text">User Management</h1>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lorange">
    <div class="container admin-container">
        <div class="row">
            {% for user in users %}
            <div class="col s12 l6">
                <div class="card">
                    <div class="card-content center-align">
                        <span id="" class="card-title">User: {{ user.username }}</span>
                        <div class="left-align">
                            <p>Email: {{ user.email }}</p>
                            <p>Admin? {{ user.is_admin }}</p>
                        </div>
                    </div>
                    <div class="card-action holiday-type-action center-align">
                        {% if user.email != "little.explorers@gmail.com" %}
                        <a class="waves-effect btn btn-pink modal-trigger" href="#modal1">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Modal Structure taken and adapted from Materialize -->
            <div id="modal1" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete User?</h4>
                    <p>Note: This action is not reversible. All Holidays associated with the user will also be deleted.
                    </p>
                </div>
                <div class="center-align modal-btn">
                    <div class="row">
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="#!" class="modal-close btn btn-pink col s3 offset-s2">No</a>
                        </div>
                        <div>
                            <!-- Adjust the column size based on your preference -->
                            <a href="{{ url_for('delete_user', user_id=user.id ) }}" class="btn btn-lgreen col s3 offset-s2">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}