{% extends "base.html" %}
{% block content %}

<div class="bg-lorange">
    <div class="container admin-container">
        <div class="row">
            {% for user in users %}
            <div class="col s12 m6 l4">
                <div class="card center-align">
                    <div class="card-content card-padding">
                        <span id="holiday-type-title" class="card-title">{{ user.username }}</span>
                        <span id="holiday-type-title" class="card-title">{{ user.password_hash }}</span>
                        <span>{{ user.is_admin }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}