{% extends "base.html" %}
{% block content %}



<div class="container">
    <!-- Recommendation Image-->
    <div class="row">
        <div class="col s12 center-align">
            <img src="{{ url_for('static', filename='images/user_uploaded_images/' + recommendation.image_name) }}"
                class="rec-full-image" />
        </div>
    </div>
    <!-- Recommendation title -->
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="fira-500 rec-full-title">{{ recommendation.recommendation_name}}</h1>
        </div>
    </div>
    <!-- Recommendation date added -->
    <div class="row center-align">
        <div class="col s12">
            <i class="fa-regular fa-calendar-days"></i> Recommendation Written:
            {{ recommendation.recommendation_date.strftime("%d %B, %Y") }}</div>
    </div>
    <!-- Recommendation user-->
    <div class="row center-align">
        <div class="col s12"> By:
            {{ recommendation.user.username }}</div>
    </div>
    <div class="row center-align">
        <div class="col s12 m2 offset-m3"><i class="{{ recommendation.holiday.selected_icon }}"></i> {{ recommendation.holiday.holiday_name }}</div>
        <div class="col s12 m2"><i class="fa-solid fa-location-dot"></i> {{ recommendation.region }}</div>
        <div class="col s12 m2"><i class="fa-solid fa-user"></i> {{ recommendation.occupants }}</div>
    </div>

    <div class="row">
        <div class="col s12">{{ recommendation.recommendation_review}}</div>
    </div>

    <div class="row">
        
        <div id="fp-map_long">{{ recommendation.map_long}}</div>
        <div id="fp-map_lat">{{ recommendation.map_lat}}</div>
    </div>

    <div id="map-canvas-view"></div>


    




</div>











{% endblock %}

{% block scripts %}
<!-- Maps specific JS-->
<script src="{{ url_for('static', filename='js/maps-view.js') }}"></script>
<!-- Google Maps API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY8GR3DNBlbz_RmwXJF7SRbBn4igCcsUg&libraries=places&callback=initialize">
</script>
{% endblock %}
