/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* General */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bg-blue{
  background-color: #268DC8;
}

/* Navbar */
#nav-logo{
  max-width: 100%;
  height: 63px;
  width: auto;
}

.bg-white {
  background-color: #ffffff;
}

.nav-wrapper a {
  color: #545454;
  font-weight: 500;
}

.dropdown-content li a {
  color: #545454;
  font-weight: 500;
}

/* Home Page */

#home-hero-div {  
    position: relative;
    height: 600px;     
    background-image: url(../images/pexels-tatianasyrikova-3932948.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
  }

.bg-hero {
  background-color: rgb(252, 177, 133,0.8); 
  /* rgb(224, 177, 156); */
  margin-top: calc(10% - 50px);
  color: white; 
}

.hero-subtitle {  font-size: large;
  font-weight: 500;  
}


/* Footer */

footer {
  color:white;
}

footer h4 {
  font-size:medium;
  text-decoration: underline;
}

footer h5 {
  font-size: small;
}

footer p {
  font-size: smaller;
  text-align: justify;
}

.social-links a {
  color:#FF914D;
}

.linkedin {margin-left: 5px;}

/* Media Queries */
@media screen and (max-width: 992px) {
     
  }

@media screen and (max-width: 715px) {
  }


@media screen and (max-width: 600px) {
  #nav-logo{
    height: 56px;   
     }
}
